# Load Required Packages

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import scipy.stats as sc
# import shap
# import lime
import sklearn 
import warnings
#import xgboost
import itertools
import gc
import networkx as nx
import pydot

import multiprocessing as mp
import time
import pickle 
#import interpret
import collections
import math
import random
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import  RandomForestRegressor
from sklearn.svm import SVC, LinearSVC
from sklearn import preprocessing
# from interpret.glassbox import ExplainableBoostingClassifier
# from interpret import show
from sklearn.preprocessing import LabelEncoder
# from interpret.glassbox import ExplainableBoostingRegressor
# from interpret import show
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import AdaBoostRegressor
%matplotlib inline
import os, sys
#import statsmodels.api as sm
sys.path.append(os.path.abspath("../../../"))

pd.set_option('display.max_columns', None)
import eli5
from eli5.sklearn import PermutationImportance

import sys
print(sys.path)

sys.path.append("/anaconda3/lib/python3.6/site-packages")

['/Users/aparnacalambur/Documents/Cornell/Classes/MEng/interpretable_clustering', '', '/Library/Python/3.6/site-packages', '/Users/aparnacalambur/Documents/Cornell/Classes/MEng/interpretable_clustering', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python37.zip', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/lib-dynload', '/Users/aparnacalambur/Library/Python/3.7/lib/python/site-packages', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages', '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/extensions', '/Users/aparnacalambur/.ipython', '/Users/aparnacalambur/Documents/Cornell', '/anaconda3/lib/python3.6/site-packages', '/Users/aparnacalambur/Documents/Cornell']

In [10]:
income_data = pd.read_csv('adult.csv')
inc_no_tar = income_data.drop(columns = ['income'])
c = ['income'] + list(inc_no_tar.columns)
data = pd.DataFrame(columns=c)
for col in c:
    data[col] = income_data[col]
income_data = data.copy()

income_data['workclass']= income_data['workclass'].replace({"?":"Unknown"})
income_data['native-country']= income_data['native-country'].replace({"?":"Unknown"})
income_data = income_data.drop(['education', 'marital-status', 'fnlwgt'], axis=1)

label_encoder = preprocessing.LabelEncoder()
income_data['workclass']= label_encoder.fit_transform(income_data['workclass'])
income_data['occupation']= label_encoder.fit_transform(income_data['occupation'])
income_data['relationship']= label_encoder.fit_transform(income_data['relationship'])
income_data['race']= label_encoder.fit_transform(income_data['race'])
income_data['gender']= label_encoder.fit_transform(income_data['gender'])
income_data['native-country']= label_encoder.fit_transform(income_data['native-country'])
income_data['income']= label_encoder.fit_transform(income_data['income'])

full_data = income_data.sample(n=40000, random_state=1)

full_data_train,full_data_test = train_test_split(full_data,test_size = 0.3,random_state = 10)

full_data = full_data.dropna().reset_index().drop('index',axis = 1)
X = full_data.drop('income',axis = 1)
cols = X.columns
y = full_data['income']
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)
X =pd.DataFrame(X, columns = cols)
xTrain, xTest, yTrain, yTest = train_test_split(X,y, test_size = 0.3,random_state = 10)
xTrain, xTest, yTrain, yTest, full_data_train,full_data_test

(            age  workclass  educational-num  occupation  relationship  \
 33113 -0.630836  -0.228559         0.358098    1.517811      0.970670
 23268 -0.484895  -0.228559        -0.030189   -0.608703     -0.900291
 25562 -1.506484   2.554500        -0.030189   -1.553820      0.970670
 28539  0.390752  -0.228559        -0.030189   -0.608703     -0.276637
 7419  -0.703807  -2.315853        -0.418476   -1.317540     -0.276637
 ...         ...        ...              ...         ...           ...
 10201  0.390752  -0.228559        -0.418476   -0.844982     -0.276637
 9372  -1.360543   2.554500        -0.418476   -1.553820      0.970670
 28017 -1.141631  -0.228559         1.134672   -0.608703     -0.276637
 29199  0.609664  -0.228559        -0.418476    1.281531     -0.900291
 17673  0.755605  -0.228559        -0.418476   -0.844982     -0.900291

            race    gender  capital-gain  capital-loss  hours-per-week  \
 33113  0.392814 -1.423117     -0.144271     -0.216498       -0.034846
 23268  0.392814  0.702683     -0.144271     -0.216498       -0.034846
 25562  0.392814  0.702683     -0.144271     -0.216498       -0.034846
 28539  0.392814  0.702683     -0.144271     -0.216498        0.772017
 7419  -0.789025  0.702683     -0.144271     -0.216498        0.368585
 ...         ...       ...           ...           ...             ...
 10201  0.392814 -1.423117      1.753348     -0.216498       -0.034846
 9372  -0.789025 -1.423117     -0.144271     -0.216498        0.368585
 28017  0.392814 -1.423117     -0.144271     -0.216498       -0.034846
 29199  0.392814  0.702683     -0.144271     -0.216498       -0.841710
 17673  0.392814  0.702683     -0.144271     -0.216498       -0.034846

        native-country
 33113        0.256152
 23268        0.256152
 25562        0.256152
 28539        0.256152
 7419         0.256152
 ...               ...
 10201        0.256152
 9372         0.256152
 28017        0.256152
 29199        0.256152
 17673        0.256152

 [28000 rows x 11 columns],
             age  workclass  educational-num  occupation  relationship  \
 26915  2.142047  -0.228559        -0.030189   -1.317540     -0.900291
 37746 -1.068660  -0.228559        -1.971625    0.336414      0.970670
 15211 -0.338954  -0.228559         1.134672    1.281531     -0.276637
 8556  -0.703807  -0.228559        -0.418476    1.754090     -0.900291
 17307  0.536693  -1.620088         1.134672    1.045252     -0.900291
 ...         ...        ...              ...         ...           ...
 21486 -0.120042  -0.228559         1.134672    1.281531     -0.900291
 9384   0.901547  -0.228559        -0.418476   -0.844982      1.594323
 13567 -0.484895  -0.228559        -0.418476   -0.844982     -0.900291
 23086  0.317782  -0.228559         1.134672   -0.608703     -0.900291
 30264 -0.849748  -0.228559        -2.748199    0.336414     -0.276637

            race    gender  capital-gain  capital-loss  hours-per-week  \
 26915  0.392814  0.702683     -0.144271      4.365953       -2.455438
 37746  0.392814 -1.423117     -0.144271     -0.216498       -0.034846
 15211  0.392814 -1.423117     -0.144271     -0.216498       -0.438278
 8556   0.392814  0.702683     -0.144271     -0.216498       -0.034846
 17307  0.392814  0.702683     -0.144271     -0.216498       -0.034846
 ...         ...       ...           ...           ...             ...
 21486  0.392814  0.702683     -0.144271     -0.216498        0.772017
 9384   0.392814 -1.423117     -0.144271     -0.216498        0.368585
 13567  0.392814  0.702683     -0.144271     -0.216498        0.772017
 23086  0.392814  0.702683     -0.144271     -0.216498       -0.034846
 30264  0.392814  0.702683     -0.144271     -0.216498        1.578881

        native-country
 26915        0.256152
 37746        0.256152
 15211        0.256152
 8556         0.256152
 17307        0.256152
 ...               ...
 21486        0.256152
 9384        -1.903683
 13567        0.256152
 23086        0.256152
 30264       -4.894223

 [12000 rows x 11 columns],
 33113    0
 23268    1
 25562    0
 28539    0
 7419     0
         ..
 10201    1
 9372     0
 28017    0
 29199    1
 17673    0
 Name: income, Length: 28000, dtype: int64,
 26915    0
 37746    0
 15211    0
 8556     1
 17307    1
         ..
 21486    1
 9384     0
 13567    0
 23086    0
 30264    0
 Name: income, Length: 12000, dtype: int64,
        income  age  workclass  educational-num  occupation  relationship  \
 9458        0   30          3               11          13             3
 18240       1   32          3               10           4             0
 20182       0   18          7               10           0             3
 23102       0   44          3               10           4             1
 47579       0   29          0                9           1             1
 ...       ...  ...        ...              ...         ...           ...
 16365       1   44          3                9           3             1
 15592       0   20          7                9           0             3
 36104       0   23          3               13           4             1
 46976       1   47          3                9          12             0
 17359       0   49          3                9           3             0

        race  gender  capital-gain  capital-loss  hours-per-week  \
 9458      4       0             0             0              40
 18240     4       1             0             0              40
 20182     4       1             0             0              40
 23102     4       1             0             0              50
 47579     3       1             0             0              45
 ...     ...     ...           ...           ...             ...
 16365     4       0         14344             0              40
 15592     3       0             0             0              45
 36104     4       0             0             0              40
 46976     4       1             0             0              30
 17359     4       1             0             0              40

        native-country
 9458               38
 18240              38
 20182              38
 23102              38
 47579              38
 ...               ...
 16365              38
 15592              38
 36104              38
 46976              38
 17359              38

 [28000 rows x 12 columns],
        income  age  workclass  educational-num  occupation  relationship  \
 11993       0   68          3               10           1             0
 20404       0   24          3                5           8             3
 45856       0   34          3               13          12             1
 340         1   29          3                9          14             0
 41176       1   46          1               13          11             0
 ...       ...  ...        ...              ...         ...           ...
 11423       1   37          3               13          12             0
 41180       0   51          3                9           3             4
 35928       0   32          3                9           3             0
 42412       0   43          3               13           4             0
 27119       0   27          3                3           8             1

        race  gender  capital-gain  capital-loss  hours-per-week  \
 11993     4       1             0          1844              10
 20404     4       0             0             0              40
 45856     4       0             0             0              35
 340       4       1             0             0              40
 41176     4       1             0             0              40
 ...     ...     ...           ...           ...             ...
 11423     4       1             0             0              50
 41180     4       0             0             0              45
 35928     4       1             0             0              50
 42412     4       1             0             0              40
 27119     4       1             0             0              60

        native-country
 11993              38
 20404              38
 45856              38
 340                38
 41176              38
 ...               ...
 11423              38
 41180              25
 35928              38
 42412              38
 27119               7

 [12000 rows x 12 columns])

# Load Test Data

In [11]:
titanic = pd.read_csv('train.csv')
#titanic
full_data = titanic
full_data = full_data.drop(['PassengerId'], axis=1)

import re
deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
full_data['Cabin'] = full_data['Cabin'].fillna("U0")
full_data['Deck'] = full_data['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
full_data['Deck'] = full_data['Deck'].map(deck)
full_data['Deck'] = full_data['Deck'].fillna(0)
full_data['Deck'] = full_data['Deck'].astype(int)

full_data = full_data.drop('Cabin', axis = 1)

mean = full_data["Age"].mean()
std = full_data["Age"].std()
is_null = full_data["Age"].isnull().sum()
# compute random numbers between the mean, std and is_null
rand_age = np.random.randint(mean - std, mean + std, size = is_null)
# fill NaN values in Age column with random values generated
age_slice = full_data["Age"].copy()
age_slice[np.isnan(age_slice)] = rand_age
full_data["Age"] = age_slice
full_data["Age"] = full_data["Age"].astype(int)
full_data["Age"].isnull().sum()
full_data['Embarked'] = full_data['Embarked'].fillna('S')


full_data['Fare'] = full_data['Fare'].fillna(0)
full_data['Fare'] = full_data['Fare'].astype(int)
full_data = full_data.drop(['Name'], axis=1)
full_data = full_data.drop(['Ticket'], axis=1)
full_data['Sex'] = full_data['Sex'].map({"male": 0, "female": 1})


full_data_train,full_data_test = train_test_split(full_data,test_size = 0.3,random_state = 10)

full_data = pd.get_dummies(full_data,columns = ['Pclass','Embarked','Deck'])
full_data = full_data.dropna().reset_index().drop('index',axis = 1)
X = full_data.drop('Survived',axis = 1)
cols = X.columns
y = full_data['Survived']
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)
X =pd.DataFrame(X, columns = cols)
xTrain, xTest, yTrain, yTest = train_test_split(X,y, test_size = 0.3,random_state = 10)

In [12]:
heart = pd.read_csv("heart.csv")
#full_data = heart
heart = pd.read_csv("heart.csv")
heart_no_tar = heart.drop(columns = ['target'])
c = ['target'] + list(heart_no_tar.columns)
full_data = pd.DataFrame(columns=c)
for col in c:
    full_data[col] = heart[col]

full_data_train,full_data_test = train_test_split(full_data,test_size = 0.3,random_state = 10)

full_data = full_data.dropna().reset_index().drop('index',axis = 1)
X = full_data.drop('target',axis = 1)
cols = X.columns
y = full_data['target']
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)
X =pd.DataFrame(X, columns = cols)
xTrain, xTest, yTrain, yTest = train_test_split(X,y, test_size = 0.3,random_state = 10)
xTrain, xTest, yTrain, yTest, full_data_train,full_data_test

(          age       sex        cp  trestbps      chol       fbs   restecg  \
 49  -0.150692 -1.468418 -0.938515  0.364165 -0.237008 -0.417635 -1.005832
 171 -0.702136  0.681005  0.032031 -1.234996 -0.333636 -0.417635  0.898962
 223  0.180175 -1.468418 -0.938515  3.905165  0.806568  2.394438 -1.005832
 58  -2.246179  0.681005  1.973123 -0.778093 -1.241933 -0.417635 -1.005832
 154 -1.694735 -1.468418  1.002577  0.364165 -0.507565 -0.417635  0.898962
 ..        ...       ...       ...       ...       ...       ...       ...
 156 -0.812425  0.681005  1.002577 -0.092738  0.130176 -0.417635  0.898962
 123 -0.040403 -1.468418  1.002577 -1.349222  0.400733 -0.417635 -1.005832
 15  -0.481558 -1.468418  1.002577 -0.663867 -0.526890 -0.417635  0.898962
 125 -2.246179 -1.468418  0.032031 -0.778093 -0.700820 -0.417635  0.898962
 265  1.283063  0.681005 -0.938515 -1.120770 -0.662169 -0.417635 -1.005832

       thalach     exang   oldpeak     slope        ca      thal
 49   0.452748 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 171  0.802592 -0.696631 -0.034166 -2.274579 -0.714429  1.123029
 223 -0.727976  1.435481  2.553921 -2.274579  1.244593  1.123029
 58   1.064975 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 154  0.102904 -0.696631 -0.896862 -0.649113 -0.714429 -0.512922
 ..        ...       ...       ...       ...       ...       ...
 156  1.283627 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 123  0.758861 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 15   0.365287 -0.696631  0.483451 -0.649113 -0.714429 -0.512922
 125  1.852124 -0.696631 -0.292975  0.976352 -0.714429 -0.512922
 265 -0.771706  1.435481 -0.810592  0.976352  0.265082 -0.512922

 [212 rows x 13 columns],
           age       sex        cp  trestbps      chol       fbs   restecg  \
 246  0.180175 -1.468418 -0.938515  0.135714  3.144951 -0.417635 -1.005832
 183  0.400752  0.681005  1.002577 -1.120770 -0.314310 -0.417635 -1.005832
 229  1.062485  0.681005  1.002577 -0.378302  1.212403 -0.417635  0.898962
 126 -0.812425  0.681005 -0.938515 -1.120770 -0.816773 -0.417635  0.898962
 184 -0.481558  0.681005 -0.938515  1.049520 -0.063079 -0.417635 -1.005832
 ..        ...       ...       ...       ...       ...       ...       ...
 69   0.841908 -1.468418 -0.938515 -0.435415 -0.720145 -0.417635  0.898962
 21  -1.143291  0.681005  1.002577 -0.092738 -0.256334 -0.417635  0.898962
 210  0.290464  0.681005  1.002577 -0.206964 -0.333636 -0.417635 -1.005832
 78  -0.260980  0.681005  0.032031 -0.206964 -0.797447  2.394438  0.898962
 174  0.621330  0.681005 -0.938515 -0.092738 -0.778122 -0.417635 -1.005832

       thalach     exang   oldpeak     slope        ca      thal
 246  0.015443  1.435481  0.742260 -0.649113  1.244593  1.123029
 183  0.671400 -0.696631  1.259877 -0.649113  0.265082  1.123029
 229 -0.815437  1.435481  0.655990 -0.649113 -0.714429  1.123029
 126 -0.290671 -0.696631 -0.810592  0.976352 -0.714429 -0.512922
 184 -0.946628 -0.696631  1.346147 -0.649113 -0.714429  1.123029
 ..        ...       ...       ...       ...       ...       ...
 69   0.583939 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 21   1.283627  1.435481 -0.551783  0.976352 -0.714429 -0.512922
 210  0.015443 -0.696631 -0.551783 -0.649113  0.265082  1.123029
 78   1.502280 -0.696631 -0.896862  0.976352 -0.714429 -0.512922
 174 -0.771706  1.435481  1.173608 -0.649113  1.244593  1.123029

 [91 rows x 13 columns],
 49     1
 171    0
 223    0
 58     1
 154    1
       ..
 156    1
 123    1
 15     1
 125    1
 265    0
 Name: target, Length: 212, dtype: int64,
 246    0
 183    0
 229    0
 126    1
 184    0
       ..
 69     1
 21     1
 210    0
 78     1
 174    0
 Name: target, Length: 91, dtype: int64,
      target  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  \
 49        1   53    0   0       138   234    0        0      160      0
 171       0   48    1   1       110   229    0        1      168      0
 223       0   56    0   0       200   288    1        0      133      1
 58        1   34    1   3       118   182    0        0      174      0
 154       1   39    0   2       138   220    0        1      152      0
 ..      ...  ...  ...  ..       ...   ...  ...      ...      ...    ...
 156       1   47    1   2       130   253    0        1      179      0
 123       1   54    0   2       108   267    0        0      167      0
 15        1   50    0   2       120   219    0        1      158      0
 125       1   34    0   1       118   210    0        1      192      0
 265       0   66    1   0       112   212    0        0      132      1

      oldpeak  slope  ca  thal
 49       0.0      2   0     2
 171      1.0      0   0     3
 223      4.0      0   2     3
 58       0.0      2   0     2
 154      0.0      1   0     2
 ..       ...    ...  ..   ...
 156      0.0      2   0     2
 123      0.0      2   0     2
 15       1.6      1   0     2
 125      0.7      2   0     2
 265      0.1      2   1     2

 [212 rows x 14 columns],
      target  age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  \
 246       0   56    0   0       134   409    0        0      150      1
 183       0   58    1   2       112   230    0        0      165      0
 229       0   64    1   2       125   309    0        1      131      1
 126       1   47    1   0       112   204    0        1      143      0
 184       0   50    1   0       150   243    0        0      128      0
 ..      ...  ...  ...  ..       ...   ...  ...      ...      ...    ...
 69        1   62    0   0       124   209    0        1      163      0
 21        1   44    1   2       130   233    0        1      179      1
 210       0   57    1   2       128   229    0        0      150      0
 78        1   52    1   1       128   205    1        1      184      0
 174       0   60    1   0       130   206    0        0      132      1

      oldpeak  slope  ca  thal
 246      1.9      1   2     3
 183      2.5      1   1     3
 229      1.8      1   0     3
 126      0.1      2   0     2
 184      2.6      1   0     3
 ..       ...    ...  ..   ...
 69       0.0      2   0     2
 21       0.4      2   0     2
 210      0.4      1   1     3
 78       0.0      2   0     2
 174      2.4      1   2     3

 [91 rows x 14 columns])

In [13]:
income_data = pd.read_csv('adult.csv')
inc_no_tar = income_data.drop(columns = ['income'])
c = ['income'] + list(inc_no_tar.columns)
data = pd.DataFrame(columns=c)
for col in c:
    data[col] = income_data[col]
income_data = data.copy()

income_data['workclass']= income_data['workclass'].replace({"?":"Unknown"})
income_data['native-country']= income_data['native-country'].replace({"?":"Unknown"})
income_data = income_data.drop(['education', 'marital-status', 'fnlwgt'], axis=1)

label_encoder = preprocessing.LabelEncoder()
income_data['workclass']= label_encoder.fit_transform(income_data['workclass'])
income_data['occupation']= label_encoder.fit_transform(income_data['occupation'])
income_data['relationship']= label_encoder.fit_transform(income_data['relationship'])
income_data['race']= label_encoder.fit_transform(income_data['race'])
income_data['gender']= label_encoder.fit_transform(income_data['gender'])
income_data['native-country']= label_encoder.fit_transform(income_data['native-country'])
income_data['income']= label_encoder.fit_transform(income_data['income'])

full_data = income_data.sample(n=5000, random_state=1)

full_data_train,full_data_test = train_test_split(full_data,test_size = 0.3,random_state = 10)

full_data = full_data.dropna().reset_index().drop('index',axis = 1)
X = full_data.drop('income',axis = 1)
cols = X.columns
y = full_data['income']
scaler = preprocessing.StandardScaler()
X = scaler.fit_transform(X)
X =pd.DataFrame(X, columns = cols)
xTrain, xTest, yTrain, yTest = train_test_split(X,y, test_size = 0.3,random_state = 10)
xTrain, xTest, yTrain, yTest, full_data_train,full_data_test

(           age  workclass  educational-num  occupation  relationship  \
 2573  0.006122  -0.224168        -0.419627    1.754091     -0.892873
 2066  0.006122   1.153631         1.124824    0.809279     -0.892873
 2823  1.094159  -0.224168         0.738711    1.281685     -0.892873
 2389  0.078658  -0.224168         0.738711    1.045482     -0.892873
 2702 -0.719236   0.464732         1.124824    0.809279     -0.268748
 ...        ...        ...              ...         ...           ...
 1180  0.368801  -0.224168         1.510937   -0.607939     -0.892873
 3441  0.078658  -0.224168        -0.033515   -1.316549     -0.268748
 1344  0.078658  -0.224168         0.738711    1.281685     -0.892873
 4623  0.876551   2.531430        -0.419627   -1.552752      1.603627
 1289  0.078658  -0.224168        -0.033515    1.754091     -0.268748

           race    gender  capital-gain  capital-loss  hours-per-week  \
 2573  0.398681  0.702127     -0.152843     -0.221409        1.559716
 2066  0.398681  0.702127      1.785104     -0.221409        0.759500
 2823  0.398681  0.702127     -0.152843     -0.221409        0.359393
 2389  0.398681  0.702127     -0.152843     -0.221409        1.559716
 2702  0.398681 -1.424243     -0.152843     -0.221409        3.160146
 ...        ...       ...           ...           ...             ...
 1180  0.398681  0.702127     -0.152843     -0.221409       -0.040715
 3441  0.398681 -1.424243     -0.152843     -0.221409       -0.040715
 1344  0.398681  0.702127     -0.152843     -0.221409       -0.040715
 4623 -1.879495 -1.424243     -0.152843     -0.221409       -0.040715
 1289  0.398681  0.702127     -0.152843     -0.221409        0.599457

       native-country
 2573        0.246707
 2066       -2.313205
 2823        0.246707
 2389        0.246707
 2702        0.246707
 ...              ...
 1180        0.246707
 3441        0.246707
 1344        0.246707
 4623        0.246707
 1289        0.246707

 [3500 rows x 11 columns],
            age  workclass  educational-num  occupation  relationship  \
 245  -0.284021  -0.224168         1.897050    0.809279     -0.268748
 4493  0.804016  -1.601967         1.510937   -0.607939     -0.268748
 4583 -0.791772  -0.224168        -0.033515   -0.844142     -0.268748
 2242 -0.646700  -0.224168        -0.419627   -1.316549     -0.268748
 3407 -1.517129  -0.224168        -0.033515    1.281685      0.979502
 ...        ...        ...              ...         ...           ...
 2257 -1.009379  -0.224168        -0.419627    1.281685     -0.268748
 1146 -1.372058  -0.224168        -0.419627   -0.135533      0.979502
 134  -1.372058   2.531430        -0.033515   -1.552752     -0.268748
 997  -0.356557  -0.224168        -0.033515   -0.135533     -0.892873
 1555  0.586408  -0.224168        -0.033515    1.281685      0.979502

           race    gender  capital-gain  capital-loss  hours-per-week  \
 245  -3.018584  0.702127     -0.152843     -0.221409       -0.040715
 4493  0.398681 -1.424243      0.446961     -0.221409        2.359931
 4583 -1.879495  0.702127     -0.152843     -0.221409       -0.040715
 2242  0.398681 -1.424243     -0.152843     -0.221409       -0.040715
 3407 -3.018584 -1.424243     -0.152843     -0.221409       -1.641146
 ...        ...       ...           ...           ...             ...
 2257  0.398681 -1.424243     -0.152843     -0.221409       -0.440823
 1146  0.398681  0.702127     -0.152843     -0.221409       -1.241038
 134  -4.157672 -1.424243     -0.152843     -0.221409       -1.000973
 997   0.398681  0.702127     -0.152843     -0.221409       -0.040715
 1555  0.398681  0.702127     -0.152843     -0.221409        1.159608

       native-country
 245        -3.166509
 4493        0.246707
 4583        0.246707
 2242        0.246707
 3407        0.246707
 ...              ...
 2257        0.246707
 1146        0.246707
 134         0.246707
 997         0.246707
 1555        0.246707

 [1500 rows x 11 columns],
 2573    1
 2066    1
 2823    0
 2389    0
 2702    0
        ..
 1180    1
 3441    0
 1344    1
 4623    0
 1289    1
 Name: income, Length: 3500, dtype: int64,
 245     1
 4493    0
 4583    0
 2242    0
 3407    0
        ..
 2257    0
 1146    0
 134     0
 997     0
 1555    0
 Name: income, Length: 1500, dtype: int64,
        income  age  workclass  educational-num  occupation  relationship  \
 8420        1   39          3                9          14             0
 30677       1   39          5               13          10             0
 35847       0   54          3               12          12             0
 13543       0   40          3               12          11             0
 37680       0   29          4               13          10             1
 ...       ...  ...        ...              ...         ...           ...
 21824       1   44          3               14           4             0
 35457       0   40          3               10           1             1
 4881        1   40          3               12          12             0
 48364       0   51          7                9           0             4
 39316       1   40          3               10          14             1

        race  gender  capital-gain  capital-loss  hours-per-week  \
 8420      4       1             0             0              60
 30677     4       1         15024             0              50
 35847     4       1             0             0              45
 13543     4       1             0             0              60
 37680     4       0             0             0              80
 ...     ...     ...           ...           ...             ...
 21824     4       1             0             0              40
 35457     4       0             0             0              40
 4881      4       1             0             0              40
 48364     2       0             0             0              40
 39316     4       1             0             0              48

        native-country
 8420               38
 30677              23
 35847              38
 13543              38
 37680              38
 ...               ...
 21824              38
 35457              38
 4881               38
 48364              38
 39316              38

 [3500 rows x 12 columns],
        income  age  workclass  educational-num  occupation  relationship  \
 26871       1   35          3               15          10             1
 41372       0   50          1               14           4             1
 34761       0   28          3               10           3             1
 45670       0   30          3                9           1             1
 655         0   18          3               10          12             3
 ...       ...  ...        ...              ...         ...           ...
 13078       0   25          3                9          12             1
 13986       0   20          3                9           6             3
 10833       0   20          7               10           0             1
 25140       0   34          3               10           6             0
 17177       0   47          3               10          12             3

        race  gender  capital-gain  capital-loss  hours-per-week  \
 26871     1       1             0             0              40
 41372     4       0          4650             0              70
 34761     2       1             0             0              40
 45670     4       0             0             0              40
 655       1       0             0             0              20
 ...     ...     ...           ...           ...             ...
 13078     4       0             0             0              35
 13986     4       1             0             0              25
 10833     0       0             0             0              28
 25140     4       1             0             0              40
 17177     4       1             0             0              55

        native-country
 26871              18
 41372              38
 34761              38
 45670              38
 655                38
 ...               ...
 13078              38
 13986              38
 10833              38
 25140              38
 17177              38

 [1500 rows x 12 columns])

https://scikit-learn.org/dev/auto_examples/tree/plot_unveil_tree_structure.html

In [14]:
def compute_distances(tree1, X):
    n_nodes = tree1.tree_.node_count
    children_left = tree1.tree_.children_left
    children_right = tree1.tree_.children_right
    feature = tree1.tree_.feature
    threshold = tree1.tree_.threshold

    node_depth = np.zeros(shape=n_nodes, dtype=np.int64)
    is_leaves = np.zeros(shape=n_nodes, dtype=bool)
    stack = [(0, 0)]  # start with the root node id (0) and its depth (0)
    while len(stack) > 0:
        node_id, depth = stack.pop()
        node_depth[node_id] = depth
        is_split_node = children_left[node_id] != children_right[node_id]
        if is_split_node:
            stack.append((children_left[node_id], depth + 1))
            stack.append((children_right[node_id], depth + 1))
        else:
            is_leaves[node_id] = True

    leaves = [i for i, x in enumerate(is_leaves) if x]
    leaves = [str(l) for l in leaves]
    leaf_pairs = list(itertools.combinations(leaves,2))
    uMG = dt_to_mg(tree1)
    res = []
    for inds in leaf_pairs:
        source = inds[0]
        target = inds[1]
        distance = nx.shortest_path_length(uMG, source=inds[0], target=inds[1])
        res.append([(source+','+target),distance])
    results = pd.DataFrame(res,columns = ['key','dist'])

    leaf_id = tree1.apply(X)
    instance_pairs = list(itertools.combinations(range(0,len(leaf_id)),2))
    instance_dist = pd.DataFrame(instance_pairs,columns = ['i1','i2'])
    instance_dist['l1'] = leaf_id[instance_dist['i1'].values]
    instance_dist['l2'] = leaf_id[instance_dist['i2'].values]
    instance_dist['leaf1'] = instance_dist[['l1','l2']].min(axis = 1)
    instance_dist['leaf2'] = instance_dist[['l1','l2']].max(axis = 1)
    instance_dist = instance_dist.drop(['l1','l2'], axis = 1)
    instance_dist['key'] = instance_dist['leaf1'].astype(str) + ',' + instance_dist['leaf2'].astype(str)
    all_distances = pd.merge(instance_dist,results,on = 'key', how = 'left')
    all_distances = all_distances.fillna(0)

    return all_distances[['i1','i2','dist']]

def forest_distances(rf,X):
    alldist = pd.DataFrame()
    for tree1 in rf.estimators_:
        dist = compute_distances(tree1, X)
        alldist = alldist.append(dist)
    alldist_agg = alldist.groupby(['i1','i2']).dist.mean().reset_index()
    
    s = max(max(alldist_agg['i1']), max(alldist_agg['i2'])) + 1
    distmatrix = np.zeros(shape = (s,s))
    for i,row in alldist_agg.iterrows():
        i1 = int(row['i1'])
        i2 = int(row['i2'])
        distmatrix[i1][i2] = row['dist']
        distmatrix[i2][i1] = row['dist']

    return distmatrix

def dt_to_mg(clf):
    dot_data = tree.export_graphviz(clf)
    dot_graph = pydot.graph_from_dot_data(dot_data)[0]
    MG = nx.drawing.nx_pydot.from_pydot(dot_graph)
    uMG = MG.to_undirected()
    return uMG

In [15]:
rf = RandomForestClassifier(n_estimators = 5, max_depth = 4).fit(xTrain,yTrain)
pred = rf.predict(xTest)
print(sklearn.metrics.roc_auc_score(pred,yTest))

0.8542367959024725

In [16]:
rf = RandomForestClassifier(n_estimators = 5, max_depth = 4).fit(xTrain,yTrain)
pred = rf.predict(xTest)
distances = forest_distances(rf,xTrain)

In [17]:
distances

array([[0. , 6.6, 2.4, ..., 2.8, 5.6, 2.4],
       [6.6, 0. , 5.4, ..., 7. , 7.4, 7. ],
       [2.4, 5.4, 0. , ..., 1.6, 6. , 4. ],
       ...,
       [2.8, 7. , 1.6, ..., 0. , 5.6, 4.4],
       [5.6, 7.4, 6. , ..., 5.6, 0. , 4. ],
       [2.4, 7. , 4. , ..., 4.4, 4. , 0. ]])

In [18]:
from sklearn.cluster import AgglomerativeClustering
clustering = AgglomerativeClustering(n_clusters = 2).fit(distances)
xTrain['clust'] = clustering.labels_
clusters = pd.DataFrame(np.column_stack((yTrain,clustering.labels_)),columns = ['y','clust'])
clusters.groupby('clust').mean()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/scipy/cluster/hierarchy.py:830: ClusterWarning: scipy.cluster: The symmetric non-negative hollow observation matrix looks suspiciously like an uncondensed distance matrix
  return linkage(y, method='ward', metric='euclidean')
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

              y
clust
0      0.458247
1      0.089225

In [26]:
len(distances)

212

In [27]:
from itertools import product

In [28]:
inds = [i for i in range(0, len(distances))] 
tuples = list(product(inds, inds))
dist = [j for sub in distances for j in sub]
train_final_dist_dct = dict(zip(tuples, dist)) 
ind_tup_dct = {}
for i, j in tuples:
    if i in ind_tup_dct.keys():
        ind_tup_dct[i].add((i, j))
    else:
        ind_tup_dct[i] = set()
        ind_tup_dct[i].add((i, j))
    if j in ind_tup_dct.keys():
        ind_tup_dct[j].add((i, j))
    else:
        ind_tup_dct[j] = set()
        ind_tup_dct[j].add((i, j))